# Firebase Admin Configuration
FIREBASE_DATABASE_URL=https://medi-c3916-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_KEY={"type": "service_account", "project_id": "medi-c3916"}

# Flask Backend Configuration
SECRET_KEY=pancreatic_risk_secret_key_135
PORT=5000
